<% layout('layout') -%>
<div style="width:100%;">
<img src="/images/Assaf-Harofeh-Security.jpg"style="margin-right: 5%;"/>
 <h1 id="title"><%= title %></h1>
 </div>
 <br>
<section>
 <div class="uk-form" style="margin-right: 4%" >
    <fieldset>
        <input type="text" placeholder="טקסט לחיפוש" class="search_block" id="freeText">
        &nbsp;מ תאריך: &nbsp;<input class="uk-width-1-10 search_block" id="fromDate"  data-uk-datepicker="{format:'DD/MM/YYYY',
            'i18n':{'months':['ינואר','פברואר','מרץ','אפריל','מאי','יוני','יולי','אוגוסט','ספטמבר','אוקטובר','נובמבר','דצמבר'],'weekdays':['א','ב','ג','ד','ה','ו','ש']}}"> &nbsp;&nbsp;
        &nbsp;עד תאריך: &nbsp;<input  class="uk-width-1-10 search_block" id="toDate"  data-uk-datepicker="{format:'DD/MM/YYYY',
            'i18n':{'months':['ינואר','פברואר','מרץ','אפריל','מאי','יוני','יולי','אוגוסט','ספטמבר','אוקטובר','נובמבר','דצמבר'],'weekdays':['א','ב','ג','ד','ה','ו','ש']}}">
            &nbsp;קטגוריה:&nbsp;
        <select class="search_block_category" style="min-width:35%;">
          <option value="0">הכל</option>
          <% for(var inx=0;inx<Category.length;inx++){%>
             <option value="<%= Category[inx]._id %>"><%= Category[inx].Name %></option>
          <%}%>
        </select>
        <br>
        <div style="margin-top:15px;width:100%;">
        <button id="searchEventesBtn" class="uk-button uk-button-success" style="margin-left:10px;font-size:15px;">&nbsp;חפש&nbsp;<i class="uk-icon-search"></i></button>
        <button id="cleanfilter" class="uk-button uk-button-danger" style="margin-left:15px;font-size:15px;"> &nbsp;נקה סינון &nbsp;<i class="uk-icon-eraser"></i></button>
        <button id="addNewCategoryBtn" class="uk-button uk-button-primary" style="font-size:15px;">&nbsp;הוספת קטגוריה&nbsp;<i class="uk-icon-plus"></i></button>
        <button id="addNewEvent" class="uk-button uk-button-primary" style="font-size:15px;float:left;margin-left: 111px;">&nbsp;הוספת אירוע&nbsp;<i class="uk-icon-plus"></i></button>
        </div>
    </fieldset>
</div>
<hr>
</section>
<section>
<div class="uk-grid">   
<div class="uk-width-1-1">
<div id="contener_page">
        <table class="uk-table">
                    <thead>
                        <th class="uk-width-1-5">שם קטגוריה</th>
                        <th class="uk-width-1-5"> &nbsp;&nbsp;תאריך</th>
                        <th class="uk-width-2-5">כותרת</th>
                        <th class="uk-width-1-5">שם מקליד</th>
                    </thead>
                </table>
                       <div class="uk-accordion" id="eventsAccardion" style="max-height:500px;max-width:100%;overflow-y:auto;" data-uk-accordion="{showfirst:false,  }">

                    <% for(var inx=0; inx < LastEvents.length; inx++){%>
                        <% var event = LastEvents[inx]%>
                            <table class="uk-table  uk-table-hover uk-accordion-title" style="margin-bottom:2px">
                                <tbody>
                                    <tr class="list_row_event" data-id="<%=event._id.toString() %>">
                                        <td class="uk-width-1-5" name='list_events_category_name' data-categoryid="<%=event.CategoryId.toString() %>">
                                            <%=event.CategoryName %>
                                        </td>
                                        <td class="uk-width-1-5" name='list_events_date'>
                                            <%- moment(event.Date).format("DD/MM/YYYY HH:mm") %>
                                        </td>
                                        <td class="uk-width-2-5" name='list_events_title'>
                                            <%=event.Title %>
                                        </td>
                                        <td class="uk-width-1-5"  name='list_events_creatorname'>
                                            <%= event.CreaterName %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="eventsContainer" data-wrapper="true" style="height: 0px; position: relative; overflow: hidden;background:#f7f7f7;margin-bottom:5px;"
                                aria-expanded="false" data-eventid='<%= event._id.toString() %>'>
                                <div class="uk-accordion-content">
                                    <div class="uk-form uk-grid">
                                        <div class="text_box_event uk-width-2-4">
                                           <%- event.Text %>
                                       </div>   
                                       <div class="buttons_box_event uk-width-1-6">
                                         <button class="uk-button show_changes"> היסטוריה </button><br>
                                        <button class="uk-button uk-button-primary show_event">הצגת אירוע</button><br>
                                        <button class="uk-button uk-button-success edit_event">עריכה</button><br>
                                         <button class="uk-button uk-button-danger remove_event"> מחק אירוע </button>
                                       </div> 
                                    </div>
                                </div>
                           </div>
                        <%}%>
            </div>
</div>
</div>
</div>
</section>
<section>
<div id="textEditor_modal" class="uk-modal">
<div class="uk-modal-dialog textEditor_contaner" style="width:85%;height:700px;padding:20px 35px;background:#ffe4c4;">
<a class="uk-modal-close uk-close"></a>
    <form class="uk-form">
  <div style="display:flex;justify-content:space-around;margin-bottom: 5%;margin-top: 2%;">
  <div>
  <lable class="">קטגוריה: </lable>
  <select id="category_select" style="min-width:350px;">
    <option value="0">בחר...</option>
    <% for(var inx=0;inx<Category.length;inx++){%>
      <option value="<%= Category[inx]._id.toString() %>"><%= Category[inx].Name %></option>
    <%}%>
  </select>
  </div>
  <div>
   <lable >כותרת: </lable>
   <input type="text" id="title_event_modal" placeholder="כותרת" style='min-width:500px;'>
   </div>
  </div>
  <div>
     <div id="summernote"></div>
     <div style="display:inline-block">
     <button id="saveNew" class="uk-button uk-button-primary" type="button" style="font-size:15px;margin-left:25px;" data-event="save">שמור</button>
    </div>
</form>
<input id="texteditor_eventid" data-id="" hidden>
</div>
</div>
</div>
</section>

<section>
		<div id="modulForAddNewCategoryEvent" class="uk-modal">
			<div class="uk-modal-dialog" style="background:#ffe4c4;">
              <a class="uk-modal-close uk-close"></a>
				<div class="uk-modal-header">
					<h2>הוספת קטגוריה אירועים</h2>
				</div>
				<div class="uk=form" style="margin-bottom:25px;">
                  <lable class="" >שם קטגוריה: </lable>
                  <input id="name_new_category_input" type="text" style="width:75%;"  placeholder="קטגוריה חדשה" >
                </div>
				<div class="uk-modal-footer uk-text-left" style="margin-top:30px;">
					<button class="uk-button uk-button-success uk-text-bold" id="addNewCategoryEvent">הוספה &nbsp;<i class="uk-icon-plus-square-o"></i></button>
					<button class="uk-button uk-button-danger uk-margin-small-left uk-text-bold " onclick="modulForAddNewCategoryEvent.hide()">סגור &nbsp;<i class="uk-icon-close"></i></button>
				</div>
			</div>
		</div>
</section>
<section>
		<div id="history_modal" class="uk-modal">
			<div class="uk-modal-dialog" style="background:#ffe4c4;">
             <a class="uk-modal-close uk-close"></a>
				<div class="uk-modal-header">
					<h2>היסטוריה עריכות אירוע</h2>
				</div>
				<div class="uk=form list_event_edits" style="margin-bottom:25px;">
                </div>
				<div class="uk-modal-footer uk-text-left" style="margin-top:30px;">
					<button class="uk-button uk-button-danger uk-margin-small-left uk-text-bold " onclick="history_modal.hide()">סגור &nbsp;<i class="uk-icon-close"></i></button>
				</div>
			</div>
		</div>
</section>
<section>
		<div id="view_event_page" class="uk-modal">
			<div class="uk-modal-dialog" style="">
             <a class="uk-modal-close uk-close"></a>
				<div class="uk-modal-header">
					<h2 id="view_category_name" style="margin:25px 15px"></h2><br>
                    <h3 id="view_title" class="uk-text-center uk-text-primary uk-text-bold"><u></u></h3>
				</div>
				<div id="view_contener" style="margin-bottom:25px;border:2px solid;padding:15px 30px;max-height:450px;overflow-y:auto;">
                </div>
				<div class="uk-modal-footer uk-text-left" style="margin-top:30px;">
                    <button class="uk-button uk-button-success uk-text-bold" id="print_Event">הדפס &nbsp;<i class="uk-icon-print"></i></button>
					<button class="uk-button uk-button-danger uk-margin-small-left uk-text-bold " onclick="view_event_page.hide()">סגור &nbsp;<i class="uk-icon-close"></i></button>
				</div>
			</div>
		</div>
</section>
