        <table class="uk-table">
                    <thead>
                        <th class="uk-width-1-5">שם קטגוריה</th>
                        <th class="uk-width-1-5"> &nbsp;&nbsp;תאריך</th>
                        <th class="uk-width-2-5">כותרת</th>
                        <th class="uk-width-1-5">שם מקליד</th>
                    </thead>
                </table>
        <div class="uk-accordion" id="eventsAccardion" style="max-height:500px;max-width:100%;overflow-y:auto;" data-uk-accordion="{showfirst:false,  }">
                    <% for(var inx=0; inx < LastEvents.length; inx++){%>
                        <% var event = LastEvents[inx]%>
                            <table class="uk-table  uk-table-hover uk-accordion-title" style="margin-bottom:2px">
                                <tbody>
                                    <tr class="list_row_event" data-eventid="<%= event._id.toString() %>">
                                        <td class="uk-width-1-5" name='list_events_category_name' data-categoryid="<%=event.CategoryId.toString() %>">
                                            <%=event.CategoryName %>
                                        </td>
                                        <td class="uk-width-1-5" name='list_events_date'>
                                            <%- moment(event.Date).format("DD/MM/YYYY HH:mm") %>
                                        </td>
                                        <td class="uk-width-2-5" name='list_events_title'>
                                            <%=event.Title %>
                                        </td>
                                        <td class="uk-width-1-5"  name='list_events_creatorname'>
                                            <%= event.CreaterName %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="eventsContainer" data-wrapper="true" style="height: 0px; position: relative; overflow: hidden;background:#f7f7f7;margin-bottom:5px;"
                                aria-expanded="false" data-eventid='<%= event._id.toString() %>'>
                                <div class="uk-accordion-content">
                                    <div class="uk-form uk-grid">
                                        <div class="text_box_event uk-width-2-4">
                                           <%- event.Text %>
                                       </div>   
                                       <div class="buttons_box_event uk-width-1-6">
                                         <button class="uk-button show_changes"> היסטוריה </button><br>
                                        <button class="uk-button uk-button-primary show_event">הצגת אירוע</button><br>
                                        <button class="uk-button uk-button-success edit_event">עריכה</button><br>
                                         <button class="uk-button uk-button-danger remove_event"> מחק אירוע </button>
                                       </div> 
                                    </div>
                                </div>
                           </div>
                        <%}%>
            </div>